<div [ngSwitch]="mode">

  <app-card *ngSwitchDefault>

    <div card-title>
      Playlist
    </div>

    <div>
      <dl [attr.title]="playlist.name">
        <dt>Name:</dt>
        <dd> {{playlist.name}}</dd>

        <dt>Favourite:</dt>
        <dd> {{playlist.favourite? 'Yes':'No'}} </dd>

        <dt>Color:</dt>
        <dd [ngStyle]="{
                        color: playlist.color,
                        borderBottom: '1px solid '+playlist.color
                      }"
          [style.background-color]="playlist.color">
          {{playlist.color}}
        </dd>
      </dl>
      <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
    </div>


  </app-card>

  <form *ngSwitchCase=" 'edit' " #formRef="ngForm" (ngSubmit)="save(formRef)">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" [ngModel]="playlist.name" name="name">
    </div>

    <div class="form-group">
      <label>Favourite:</label>
      <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
    </div>

    <div class="form-group">
      <label>Color:</label>
      <input type="color" [ngModel]="playlist.color" name="color">
    </div>

    <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
    <input type="submit" value="Save" class="btn btn-success">
  </form>

</div>
