<!-- .card-group>.card>img.card-img-top>.card-body>h5.card-title -->

<div class="card-group">

  <app-album-card class="card"
    *ngFor="let album of albums"
    [album]="album">
  </app-album-card>

</div>
