<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">

  <div *ngIf="queryForm.pending">Please wait ...</div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <div *ngIf="field.hasError('required')">
        Field is required
      </div>
      
      <div *ngIf="field.getError('minlength') as error">
        Minimum {{error.requiredLength}} letters
      </div>
      
      <div *ngIf="field.getError('censor') as error">
        Field can't contain word '{{error.badword}}'
      </div>


    </ng-container>
  </ng-container>
  
  <!-- <form-messages field="queryForm.get('query')">

      <input type="text" class="form-control" placeholder="Search" formControlName="query">

  </form-messages> -->
</div>
