// ::ng-deep p {} 

// :host() ::ng-deep p {
//   color: hotpink
// }

/* 
@import '_functions';
@import '_variables';
// @import '_utilities';
@import 'mixins/_buttons';


.my-awesome-button {
  @include button-variant(#ffffff, #000000)
} */

:host(.bordered) {
  display: block;
  border: 1px solid black
}

:host-context(.colored) p {
  color: hotpink
}

.list-group-item {
  border-left: 10px solid;
}
