<!-- [style.border-left-color]="
hover?.id == playlist.id? playlist.color : 'unset'"
(mouseenter)="hover = playlist"
(mouseleave)="hover = null" -->


<div class="list-group">

  <div 
    *ngFor="let playlist of playlists; let i = index; trackBy trackFn" 
    class="list-group-item" 

    [appHighlight]="playlist.color"
    
    [class.active]=" selected?.id == playlist.id "
    (click)="select(playlist)">
    {{i+1}}. {{playlist.name}}
  </div>


</div>
