<!-- https://jsfiddle.net/ 12 cs 6o m8 /1 -->

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLink="/"
    [routerLinkActiveOptions]="{exact:true}"
    routerLinkActive="active" #rla="routerLinkActive">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/playlist" routerLinkActive="active placki">Playlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active placki">Search</a>
        </li>

      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
